<!--
    App footer.
-->
      <footer class="site-footer">
        <span class="site-footer-owner"><a href="#">Proxy</a> is created by <a href="https://github.com/pablovallejo">Pablo Vallejo</a>.</span>
        <span class="site-footer-credits">View on <a href="https://github.com/PabloVallejo/proxy">GitHub</a></span>
      </footer>

    </section>

  </body>
</html>
