<!--
    Main presentation file.
 -->

<!-- Header -->
<%- include header.ejs %>

<section class="page-header">
    <h1 class="project-name">Proxy server</h1>
    <h2 class="project-tagline">A simple proxy server example using <a href="https://nodejs.org">NodeJS</a> and <a href="https://getsandbox.com">Sandbox</a></h2>
    <a href="https://github.com/PabloVallejo/proxy" class="btn">View on GitHub</a>
    <a href="https://github.com/PabloVallejo/proxy/archive/master.zip" class="btn">Download .zip</a>
</section>

<section class="main-content">
    <p>This proxy server is part of the programming assignments from the section two of the book <a href="http://www.amazon.com/Computer-Networking-Top-Down-Approach-Edition/dp/0132856204">Computer Networking</a></p>

    <strong>Assignment text</strong>
    <blockquote>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore expedita quo recusandae. Totam, excepturi. Tempora ducimus, et eos ad eligendi natus quis expedita impedit voluptate provident, placeat itaque? Similique, quis.
        </p>
    </blockquote>

    <h2>
        <center>How it works</center>
    </h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet enim, sed nulla harum quis error velit minima voluptate cum cupiditate nesciunt, unde quia debitis temporibus eum doloribus consectetur aspernatur, dolores!</p>
    <h2>Routes</h2>
    <pre><code>This is a code block following a header.</code></pre>

    <h4>Header 4</h4>
    <ul class="task-list">
        <li>This is an unordered list following a header.</li>
        <li>This is an unordered list following a header.</li>
        <li>This is an unordered list following a header.</li>
    </ul>

    <h5>
        Header 5
    </h5>

    <ol class="task-list">
        <li>This is an ordered list following a header.</li>
        <li>This is an ordered list following a header.</li>
        <li>This is an ordered list following a header.</li>
    </ol>

<!-- Footer -->
<%- include footer.ejs %>
